<html>
<head>
    <!-- Meta-taggar för head -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ladda upp bilder på din hund och gå med i Doggo!">
    <meta name="author" content="Eldin Kajdic">

    <!-- Website icon -->
    <link rel="icon" href="~/img/dicon5.png">

    <!-- Website title -->
    <title>Doggos.se - Vi älskar din hund!</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Script för byta bild -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bytagrejerJS.js"></script>

    <!-- Script för angular.js funktioner -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.4.js"></script>
    <script src="~/js/searchdog.js"></script>

    <!-- Egna fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/vendor/device-mockups/device-mockups.min.css">

    <!-- CSS-temat -->
    <link href="~/new-age.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--
    Webbsidan har använt temat New-Age från startbootstrap.com som huvudinspiriation.
    Många delar av webbsidans startsida samt css filer är tagna från detta tema.
    https://startbootstrap.com/template-overviews/new-age/

    Förutom detta är vissa funktioner gratis-snippets som hämtats på bootsnipp.com
     -->


</head>
<body id="page-top">

    <div>
        @RenderBody()
    </div>

    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="~/js/new-age.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="~/js/jqBootstrapValidation.js"></script>
    <script src="~/js/contact_me.js"></script>


</body>

</html>
